:root {
    --color-text: #212121;
    --color-second-text: #757575;
    --focus-color: #2196F3;
    --secondary-font: "Raleway", sans-serif;
    --colo-black: #000000;
    --background-color: #2F303A;
    --white: #FFFFFF;
    --background-white: #F5F4FA;
    --solid-color: #ECECEC;
    --second-color-plus: #188CE8;
    --black: #000000;
    --back-ground: #C4C4C4;
    --fill: #AFB1B8;
}